<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        input{
            margin:10px;
        }
    </style>
</head>
<body>
    <form method="post" action="/savedata">
        <label for="id" >Enter Student Id</label>
        <input type="number"   id="id" name="id">
        </br>
        <label for="name">Enter Student Name</label>
        <input type="text" name="name" id="name">
        </br>
        <label for="gender">Enter Gender</label>
        <input id="gender" name="gender">
        </br>
        <input type="submit">
        <input type="reset">
    </form>
</body>
</html>