<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--  <link rel="stylesheet" th:href="@{/css/style.css}">-->
</head>
<body>

<div th:fragment="header">
  <header>
    <h1>New Website</h1>
  </header>
</div>
<hr>
<div th:fragment="footer1(greet)">
  <footer>
    <h2 >Footer Of WebPage</h2>
    <p th:text="${greet}">Hola</p>
  </footer>
</div>
<hr>
<div th:fragment="header1(msg , title)">
  <header>
    <h2 th:text="${msg}"></h2>
    <h2 th:text="${title}"></h2>
    <p>Hola Amiaga , Mucho Gusto</p>
  </header>
</div>


</body>
</html>